/*------------------------------------*\
    #SECTION
\*------------------------------------*/

.l-section {
  margin-bottom: 45px;
}

  .l-section-title {
    padding: 20px;

    font-family: 'Polaris Bold', sans-serif;
    font-size: 12.5px;
    line-height: 1.5;

    background-color: #fff;

  }
