<div class="l-container">
  <div class="uk-grid">
    <div class="uk-width-medium-1-4 uk-push-3-4">
      <app-cart-summary></app-cart-summary>
    </div>
    <div class="uk-width-medium-3-4 uk-pull-1-4">
      <div class="l-section">
        <h1 class="l-section-title">Your Bag</h1>
        <app-cart-bag class="cart-bag"></app-cart-bag>
      </div>
      <div class="l-section">
        <h1 class="l-section-title">Product List</h1>
        <app-product-list></app-product-list>
      </div>
    </div>
  </div>
</div>
