/*------------------------------------*\
    #BOX
\*------------------------------------*/

.box {
  padding: 20px 5px;

  background-color: #fff;
}

  .box-title{
    text-transform: uppercase;
    font-family: 'Polaris Condensed', sans-serif;
    font-size: 24px;
    letter-spacing: 2.1px;
    line-height: 1.5;
  }
