/*------------------------------------*\
    #PRODUCT
\*------------------------------------*/

.product {
  position: relative;

  padding: 20px 20px 90px;
  margin-top: 6px;

  background-color: #fff;

  text-align: center;

  .button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 90px);
  }

  .cart-bag & {
    .product-btn-remove {
      display: block;
    }
    .product-btn-add {
      display: none;
    }
  }
}

  .product-image {
    margin-bottom: 20px;
  }

  .product-name {
    font-family: 'Polaris Condensed', sans-serif;
    letter-spacing: 2.2px;
    text-transform: uppercase;
  }

  .product-btn-remove {
    display: none;
  }
