/*------------------------------------*\
    #TEXT
\*------------------------------------*/

.text-danger {
  color: $brink-pink;
}

.text-subtle
 {
   color: $silver-chalice;
 }
.text-right {
  text-align: right;
}
