/*------------------------------------*\
    #PAGE
\*------------------------------------*/

body {
  background-color: $alabaster;
  color: $mine-shaft;

  font-family: 'Polaris Book', sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
