/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

// =============================================================================
// Container
// =============================================================================
$utility-container-max-width:                    980px !default;
$utility-container-padding-horizontal:           25px !default;

$utility-container-large-max-width:              1200px !default;
$utility-container-large-padding-horizontal:     35px !default;
